/* Basic rules */
* {
  box-sizing: border-box;
}

:root {
  --accent: #009688;
  --background: #3F3C56;
  --black: #0d0d0d;
  --white: #f1f1f1;
  --gray: #8c8c8c;
  --github: #24282d;
  --youtube: #f82600;
  --twitter: #2fa1f3;
  --platzi: #80ae40;
  --linkedin: #2077b4;
}

html {
  font-size: 18px;
  height: 100vh;
  position: relative;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url(../images/code_bg.svg) left center no-repeat;
  background-size: 60%;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--white);
  font-weight: bolder;
}

a:link {
  color: var(--accent);
  font-weight: bold;
}

a:active {
  background-color: var(--background);
  color: var(--white);
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
}

a:visited {
  color: inherit;
}

h1 {
  font-size: 3em;
  font-weight: 900;
  line-height: 1;
}

h2 {
  font-size: 1.25em;
  font-variant: small-caps;
  line-height: 1;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
}

p,
h1,
h2,
h3 {
  margin: 1.5rem 0;
}

.main {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.main__title,
.main__description {
  height: 100vh;
  width: 50vw;
  padding: 3rem 2.5rem;
}

.main__title {
  margin-left: 4rem;
}

.main__title h2 {
  background: var(--black);
  color: var(--white);
  padding: 0.2rem 0.2rem;
  margin: 0;
  width: fit-content;
}

.main__title h1 {
  margin: 0.5rem;
}

.main__description {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 4rem;
}

.profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile__image {
  width: 150px;
  height: 150px;
  margin: 0;
  border-radius: 50%;
  box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.09),
    0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09),
    0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09),
    0 64px 32px rgba(0, 0, 0, 0.09);
}

.social {
  justify-content: left;
  padding: 1rem;
}

.social a {
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1;
  display: inline-block;
  padding: 5px 5px;
  position: relative;
  z-index: 0;
  vertical-align: bottom;
  overflow: hidden;
  color: var(--black);
}

.social a::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  transition: transform 0.25s ease-out;
}

.social__github a::before {
  background-color: var(--github);
}

.social__youtube a::before {
  background-color: var(--youtube);
}

.social__platzi a::before {
  background-color: var(--platzi);
}

.social__twitter a::before {
  background-color: var(--twitter);
}

.social__linkedin a::before {
  background-color: var(--linkedin);
}

.social__blog a::before {
  background-color: var(--black);
}

.social a:hover {
  color: var(--white);
}

.social a:hover::before {
  transform: translateY(0);
  transition: transform 0.25s ease-out;
}

.social li {
  list-style-type: none;
  margin: 0.3rem;
}

hr {
  border: none;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

hr:after {
  content: '· · ·';
  text-align: center;
  display: block;
  font-weight: bold;
}

@media all and (max-width: 920px) {
  a:link {
    color: var(--white);
    font-weight: bold;
    font-style: italic;
  }

  .main {
    flex-direction: column;
    margin: 0 4rem;
    padding: 0;
  }

  .main__title {
    height: fit-content;
    width: fit-content;
  }

  .main__description {
    align-items: flex-end;
    justify-content: flex-start;
    padding-right: 0;
    padding-top: 0;
  }

  .main__text p {
    background-color: var(--accent);
    color: white;
    padding: 0.5rem;
    margin: 0;
  }

  .main__title,
  .main__description {
    width: 100%;
    margin: 0;
  }
}

@media all and (max-width: 600px) {
  body {
    background-position-y: top;
  }

  .main__title {
    width: 100vw;
    text-align: right;
  }

  .main__title h1 {
    color: var(--black);
    text-shadow: -2px -2px 0 var(--white), 2px -2px 0 var(--white),
      -2px 2px 0 var(--white), 2px 2px 0 var(--white);
  }

  .main__description {
    align-items: center;
    padding: 0;
  }

  .main__description p {
    width: 100vw;
  }

  .profile {
    margin-top: 1rem;
  }
}
